@page "/WasmBarChart"

@using BlazorD3JS.Models
@using BlazorD3JS

<PageTitle>Home</PageTitle>

<h1>Bar chart</h1>

<WasmBarChart Data="@data"></WasmBarChart>
<button @onclick="@GenerateData">Generate Data</button>

@code {

    List<BarChartModel> data = new();
    public void GenerateData()
    {
        var random = new Random();
        data = new List<BarChartModel>() {
            new BarChartModel { Name = "A", Value = random.Next(10, 100) },
            new BarChartModel { Name = "B", Value = random.Next(10, 100) },
            new BarChartModel { Name = "C", Value = random.Next(10, 100) },
            new BarChartModel { Name = "D", Value = random.Next(10, 100) },
            new BarChartModel { Name = "E", Value = random.Next(10, 100) },
        };
    }
    protected override Task OnInitializedAsync()
    {
        GenerateData();
        return base.OnInitializedAsync();
    }


}